/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* reset */
@import url("./styles/reset.css");

/* variables */
@import url("./styles/variables.css");

/* common */
body {
  font: normal 16px/1.4 var(--first-font-style);
  letter-spacing: 1px;
  background: var(--main-dark-color);
  color: var(--main-light-color);
}

.wrap #circle article .inner > div:hover {
  & h2 {
    text-shadow: 0 0 10px var(--main-light-color);
  }
}

/* contents */
.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1300px;
  
  & > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    filter:blur(3px);
  }
  #circle {
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -300px;
    transform-style: preserve-3d;
    animation: cyberspace 40s linear none infinite;
    
    article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      /* transition: all 0.3s; */

      h1 {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 1.87rem;
        opacity: 0;
        transition: all 0.5s;
      }
      &:hover h1 {
        opacity: 1;
        color: var(--main-point-color);
        top: -70px;
      }
      .inner {
        width: 100%;
        height: 100%;
        
        & > div {
          width: 100%;
          height: 100%;
          border: px solid var(--main-point-color);
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.06);
          opacity: 0.7;
          /* padding: 30px; */
          position: relative;
          cursor: pointer;
          overflow: hidden;
          transition: all 0.5s;
          
          &:hover {
            background: rgba(255, 255, 255, 0.15);
            transform: scale(1.05);
            border: 2px solid var(--main-point-color);
            opacity: 1; 
          }
        }
      }

      &.face1 {
        transform: rotateY(0deg) translateZ(-764px);

        .inner {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .box { 
            width: 290px;
            height: 254px;
            position: relative;
            /* border: 1px solid var(--border-main-color); */

            h2 {
              position:absolute;
              z-index: 100;
              color: var(--main-point-color);
              padding: 20px;
              width: 100%;
              height: 100%;

              &:hover {
                background-color: rgba(225, 225, 225, 0.5);
              }
            }

            img {
              width: 100%; 
              height: 100%; 
              object-fit: cover;
              transition: all 0.3s;

              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
      &.face2 {
        transform: rotateY(45deg) translateZ(-764px);

        .inner {
          & > div {
            width: 100%;
            height: 100%;
            padding: 30px;
            img {
              width: 100%;
              margin: 30px 0 40px;
            }
            h3 {
              color: var(--main-light-color);
              margin-bottom: 20px;
            }
            p {
              color: var(--border-main-color);
              font: normal 1.12rem/1.3 var(--orbitron-font-style);
            }
          }
        }
      }
      &.face3 {
        transform: rotateY(90deg) translateZ(-764px);
        .inner {
          & > div {
            padding: 20px;
            height: 253px;
            margin-bottom: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: space-between;
            object-fit: cover;

            .pic {
              width: 120px;
              height: 120px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              overflow: hidden;
              border-radius: 50%;
              object-fit: cover;
            }

            .con {
              width: 400px;
              h2 {
                color: var(--main-light-color);
              }
              p {
                color: var(--main-font-color);
                margin-top: 10px;
                font: normal 1.12/1.3 var(--orbitron-font-style);
              }
              span {
                position: absolute;
                right: 50px;
                bottom: 50px;
                font: normal 0.75rem/1 var(--orbitron-font-style);
              }
            }
            &:nth-child(1) .pic {
              background-image: url("./img/apple.jpg");
            }
            &:nth-child(2) .pic {
              background-image: url("./img/braun\ logo.svg");
            }
            &:nth-child(3) .pic {
              background-image: url("./img/member3.jpg");
            }
          }
        }
      }
      &.face4 {
        transform: rotateY(135deg) translateZ(-764px);
        .inner {
          & > div {
            &:nth-child(1) {
              width: 100%;
              height: 600px;
              margin-bottom: 20px;
              video {
                width: 100%;
                border: 1px solid var(--main-light-color);
                margin-bottom: 30px;
              }
            }
            p {
              color: var(--sub-font-color);
              font: normal 1rem/1.3 var(--orbitron-font-style);
              margin-top: 20px;
            }
            &:nth-child(2) {
              width: 100%;
              height: 180px;
              .item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                em {
                  font-size: 0.75rem;
                  color: var(--border-main-color);
                }
              }
            }
          }
        }
      }
      &.face5 {
        /* box-shadow: inset 0 0 20px red; */
        transform: rotateY(180deg) translateZ(-764px);
        .inner {
          display: flex;
          justify-content: center;
          position: relative;
          
          a {
            margin-top: 130px;
            z-index: 10;
            width: 400px;
            height: 500px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }

            .reflection-img {
              transition: all 0.5s;
              width: 100%;
              height: 100%;
              position:absolute;
              bottom: -350px;
              left: 0px;
            }

            &:hover > .reflection-img {
              bottom: 250px;
            }
          }

          .grid-pattern {
            position: absolute;
            width: 200px;
            height: 200px;
            right: 60px;
            bottom: 100px;
          }
        }
      }
      &.face6 {
        transform: rotateY(225deg) translateZ(-764px);
        .inner {
          & > div {
            width: 100%;
            height: 120px;
            margin-bottom: 20px;
            justify-items: center;
            align-items: center;
            display: flex;
            .con {
              padding: 20px;
              flex: 6;
              height: 100%;
              color: var(--main-light-color);
              background: var(--main-point-color);

              p {
                color: var(--main-light-color);
                font: normal 1.12rem/1 var(--first-font-style);
                margin-top: 10px;
              }
            }
          }
        }
      }
      &.face7 {
        transform: rotateY(270deg) translateZ(-764px);
        .inner {
          & > div {
            width: 100%;
            height: 100%;
            & > div {
              width: 100%;
              height: 100%;
              /* object-fit: cover; */
              position: relative;
              overflow: hidden;
              /* border: 1px solid var(--main-light-color); */
              img {
              object-fit: cover;
                width: 100%;
                height: 100%;
              }
              /* video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.9;
              } */
              h2 {
                position: absolute;
                top: 40px;
                left: 50px;
                color: var(--main-dark-color);
                font: 900 3rem/1.1 var(--first-font-style);
                /* text-shadow: 2px 2px 5px var(--text-shadow-color); */
                z-index: 2;
              }
              .first {
                position: absolute;
                top: 300px;
                left: 50px;
                color: var(--main-dark-color);
                font: 600 1.3rem/1.2 var(--first-font-style);

              }

              img:nth-of-type(1) {
                position: absolute;
                bottom: 0;
                right: 0;
              }
              img:nth-of-type(2) {
                position: absolute;
                bottom: 85px;
                right: -18px;
                width: 80%;
              }
            }
          }
        }
      }
      &.face8 {
        transform: rotateY(315deg) translateZ(-764px);
        position: relative;

        h3 {
          width: 350px;
          font-size: 26px;
          font-weight: lighter;
          line-height: 1.8;
          position: absolute;
          z-index: 100;
          word-break: break-all;
        }
        
        .custom-image {
          width: 400px;
          height: 480px;
          border-radius: 50% 0 0 50%;
          overflow: hidden;
          position: absolute;
          right: 0;
          bottom: 0;

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        p {
          position: absolute;
          bottom: 0;
          font-size: 260px;
        }

        img {
          position: absolute;
          width: 200px;
          height: 200px;
          right: 0;
        }
      }
    }
  }
}

@keyframes cyberspace {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
