/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

/* reset */
@import url("./styles/reset.css");

/* variables */
@import url("./styles/variables.css");

/* common */
body {
  font: normal 16px/1.4 var(--first-font-style);
  letter-spacing: 1px;
  background: var(--main-dark-color);
  color: var(--main-light-color);
}

/* contents */
.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1300px;

  & > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    filter: blur(3px);
  }

  #circle {
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -300px;
    transform-style: preserve-3d;
    animation: cyberspace 30s linear none infinite;

    article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;

      h1 {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 30px;
        opacity: 0;
        transition: all 0.5s;
      }

      &:hover h1 {
        opacity: 1;
        color: var(--main-point-color);
        font: 900 30px/1 var(--first-font-style);
        letter-spacing: -1px;
        top: -50px;
      }

      &:hover a {
        opacity: 1;
        transition: all 0.5s;
      }
      .inner {
        width: 100%;
        height: 100%;

        & > div {
          width: 100%;
          height: 100%;
          border: 2px solid var(--main-point-color);
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.06);
          opacity: 0.7;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          transition: all 0.5s;

          &:hover {
            background: rgba(255, 255, 255, 0.3);
            transform: scale(1.05);
            border: 2px solid var(--main-point-color);
            opacity: 1;
          }
        }
      }

      &.face1 {
        transform: rotateY(0deg) translateZ(-600px);

        .inner {
          & > div {
            width: 100%;
            height: 100%;
            & > div {
              width: 100%;
              height: 100%;

              position: relative;
              overflow: hidden;

              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }

              h2 {
                position: absolute;
                top: 40px;
                left: 50px;
                color: var(--main-dark-color);
                font: 900 3rem/1.1 var(--first-font-style);
                z-index: 2;
              }
              .first {
                position: absolute;
                top: 300px;
                left: 50px;
                color: var(--main-dark-color);
                font: 600 1.3rem/1.2 var(--first-font-style);
              }

              img:nth-of-type(1) {
                position: absolute;
                bottom: 0;
                right: 0;
              }
              img:nth-of-type(2) {
                position: absolute;
                bottom: 85px;
                right: -18px;
                width: 80%;
              }
            }
          }
        }
      }

      &.face2 {
        transform: rotateY(60deg) translateZ(-600px);

        .inner {
          & > div {
            width: 100%;
            height: 100%;
            padding: 30px;
            img {
              width: 100%;
              margin: 30px 0 40px;
            }
            h2 {
              color: var(--main-point-color);
              font: 900 50px/1 var(--first-font-style);
              letter-spacing: -1px;
            }

            h3 {
              font: 800 30px/1 var(--first-font-style);
              color: var(--main-light-color);
              margin-top: 20px;
              letter-spacing: -1px;
            }
            h4 {
              font: 800 24px/1 var(--first-font-style);
              color: var(--main-point-color);
              letter-spacing: -1px;
              margin-bottom: 20px;
            }
            p {
              color: var(--border-main-color);
              font: 300 18px/2 var(--first-font-style);
              letter-spacing: -1px;
            }
          }
        }
      }

      &.face3 {
        transform: rotateY(120deg) translateZ(-600px);

        .inner {
          display: flex;
          justify-content: center;
          position: relative;
          /* opacity: 0.7; */

          a {
            margin-top: 130px;
            z-index: 10;
            width: 400px;
            height: 500px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            /* opacity: 0.7; */

            &:hover {
              transform: scale(1.05);
              border: 2px solid var(--main-point-color);
              opacity: 1;
            }

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;

              .reflection-img {
                transition: all 0.5s;
                width: 50%;
                height: 50%;
                position: absolute;
                bottom: -350px;
                left: 0px;
              }
            }

            &:hover > .reflection-img {
              bottom: 250px;
            }
          }

          .grid-pattern {
            position: absolute;
            width: 280px;
            height: 280px;
            right: 40px;
            bottom: 100px;
          }
        }
      }

      &.face4 {
        transform: rotateY(180deg) translateZ(-600px);

        .inner {
          & > div {
            width: 100%;
            height: 120px;
            margin-bottom: 20px;
            justify-items: center;
            align-items: center;
            display: flex;
            .con {
              padding: 20px;
              flex: 6;
              height: 100%;
              color: var(--main-light-color);
              background: var(--main-point-color);

              p {
                color: var(--main-light-color);
                font: 500 1.12rem/1 var(--first-font-style);
                margin-left: 32px;
                margin-top: 10px;
              }
            }
          }
        }
      }

      &.face5 {
        transform: rotateY(240deg) translateZ(-600px);

        position: relative;
        padding: 20px;
        h3 {
          font: 100 15px/1.8 var(--first-font-style);
          word-break: break-all;
          width: 300px;
          position: absolute;
          z-index: 100;
        }

        .custom-image {
          width: 400px;
          height: 480px;
          border-radius: 50% 0 0 50%;
          overflow: hidden;
          position: absolute;
          right: 0;
          bottom: 0;
          video {
            width: 400px;
            height: 480px;
            object-fit: cover;
          }
        }

        p {
          position: absolute;
          font: 500 200px/1.8 var(--first-font-style);
          letter-spacing: -1px;
          bottom: 0;
        }

        img {
          position: absolute;
          width: 200px;
          height: 200px;
          right: 0;
        }
      }

      &.face6 {
        transform: rotateY(300deg) translateZ(-600px);

        .inner {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .box {
            width: 290px;
            height: 254px;
            position: relative;

            h2 {
              position: absolute;
              z-index: 100;
              color: var(--main-point-color);
              padding: 25px;
              width: 100%;
              height: 100%;
              font: 900 26px/1.4 var(--first-font-style);

              &:hover {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.5s;
              &:hover {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
  }
}
@keyframes cyberspace {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
